<section class= "Pendragon" id="table-modifier-form">
    <br>    
    <div class="flexcol">
        <div class="stat-name">{{tableName}}: {{formula}}</div>
        <br>
        <div class="stat-name centre">{{localize 'PEN.tableMod'}}</div>
        <br>
        <div class="stat-name">Please enter modifer between {{minMod}} and {{maxMod}}</div>
        <div class="flexrow">
            <input class="stat-name centre" name="modifier" type="number" value=0 autofocus/>
        </div>
        <br>
    </div>
</section>