<section class='character tab follower {{tab.cssClass}}' data-group='primary' data-tab='follower'>
  <div class="follower-list-grid">
    <div class="stat-name grid-item bold">{{localize 'PEN.person'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.type'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.relationship'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.age'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.squire'}}</div>
    <div class="stat-name grid-item bold centre"></div>
  </div>  

  {{#each followers as |follower key|}}
    <li class="item follower-list-grid" data-drag='true' data-document-class='Item' data-item-id="{{follower._id}}">
      <div class="stat-name grid-item new-row rollable" data-action="openActor" data-actoruuid = {{follower.system.sourceUuid}}>{{follower.system.person1Name}}</div>
      <div class="stat-name centre grid-item">{{follower.system.typeName}}</div>
      <div class="stat-name centre grid-item">{{follower.system.connection}}</div>
      {{#if (eq follower.system.typeLabel 'squire')}}
      <div class="stat-name centre rollable squire grid-item" data-type="followerAge" data-itemid="{{follower._id}}">{{follower.system.age}}</div>
        <div class="stat-name centre rollable squire grid-item" data-type="followerSquire" data-itemid="{{follower._id}}">{{follower.system.squire}}</div>
      {{else}}
        <div class="stat-name centre grid-item">{{follower.system.age}}</div>
        <div class="stat-name centre grid-item"></div>
      {{/if}}
      <div class="centre item grid-item" data-itemid ="{{follower._id}}">
        <a class="item-control large-icon fade" data-action="viewDoc"><i data-tooltip="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
        {{#unless ../system.lock}}
          <a class="item-control large-icon fade" data-action="deleteDoc"><i data-tooltip="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
        {{/unless}}
      </div>  
    </li>
  {{/each}}
  <div class="follower-list-grid"></div>
  <br>
</section>
