<section class='character tab house {{tab.cssClass}}' data-group='primary' data-tab='house'>
  <div class="family-grid">
    <div class="stat-name grid-item-bottom bold">{{localize 'PEN.family'}}</div>
    <div class="stat-name grid-item-bottom bold centre">{{localize 'PEN.gender'}}</div>
    <div class="stat-name grid-item-bottom bold centre">{{localize 'PEN.type'}}</div>
    <div class="stat-name grid-item-bottom bold centre">{{localize 'PEN.glory'}}</div>
    <div class="stat-name grid-item-bottom bold centre">{{localize 'PEN.born'}}</div>
    <div class="stat-name grid-item-bottom bold centre">{{localize 'PEN.died'}}</div>
    <div class="stat-name bold grid-item-bottom centre" data-action="createDoc" data-document-class='Item' data-type="family">  
      <a class="large-icon" data-tooltip="{{localize 'PEN.addFamily'}}"><i class="item-control fas fa-plus"></i></a>
    </div> 
    
    {{#each families as |family key|}}
      <div class="stat-name grid-item-bottom">{{family.name}}</div>
      <div class="stat-name centre grid-item-bottom">{{family.system.gender}}</div>
      <div class="stat-name centre grid-item-bottom">{{family.system.typeName}}</div>
      <div class="stat-name centre grid-item-bottom">{{family.system.glory}}</div>
      <div class="stat-name centre grid-item-bottom">{{family.system.born}}</div>
      {{#if (gt family.system.died 0)}}
        <div class="stat-name centre grid-item-bottom">{{family.system.died}}</div>
      {{else}}
      <div class="stat-name centre grid-item-bottom"></div>
      {{/if}}
      <div class="centre item grid-item-bottom" data-itemid ="{{family._id}}">
        <a class="item-control large-icon fade" data-action="viewDoc"><i data-tooltip="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
        {{#unless ../system.lock}}
          <a class="item-control large-icon fade" data-action="deleteDoc"><i data-tooltip="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
        {{/unless}}
      </div>  
    {{/each}}
  </div>
  <br>

  <div class="retainer-grid">
    <div class="stat-name grid-item-bottom bold">{{localize 'PEN.retainers'}}</div>
    <div class="stat-name grid-item-bottom bold centre">{{localize 'PEN.position'}}</div>
    <div class="stat-name grid-item-bottom bold centre">{{localize 'PEN.age'}}</div>
    <div class="stat-name bold grid-item-bottom centre" data-action="createDoc" data-document-class='Item' data-type="squire">  
      <a class="large-icon" data-tooltip="{{localize 'PEN.addRetainer'}}"><i class="item-control fas fa-plus"></i></a>
    </div> 
    
    {{#each household as |retainer key|}}
      <div class="stat-name grid-item-bottom">{{retainer.name}}</div>
      <div class="stat-name centre grid-item-bottom">{{retainer.system.squireType}}</div>
      <div class="stat-name centre grid-item-bottom">{{retainer.system.age}}</div>
      <div class="centre item grid-item-bottom" data-itemid ="{{retainer._id}}">
        <a class="item-control large-icon fade" data-action="viewDoc"><i data-tooltip="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
      {{#unless ../system.lock}}
        <a class="item-control large-icon fade" data-action="deleteDoc"><i data-tooltip="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
      {{/unless}}
      </div>
    {{/each}}
  </div>
</section>