<section class='character tab charcreat {{tab.cssClass}}' data-group='primary' data-tab='charcreate'>
  <br>
  <ol class="create-list">
    <li class="charcreate">
        <div class="stat-name bold">{{localize 'PEN.creation'}}</div>
        <div class="stat-name centre bold">{{localize 'PEN.status'}}</div>    
        <div class="stat-name centre bold">{{localize 'PEN.activate'}}</div>
        <div class="stat-name centre bold">{{localize 'PEN.reset'}}</div>        
        <div class="stat-name centre bold">{{localize 'PEN.notes'}}</div>    
    </li>

    {{! - Creation Method}}
    <li class="charcreate" data-step="1">
        <div class="stat-name">{{localize 'PEN.step.1'}}</div>
        {{#if (eq system.create.step 1)}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>           
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.constructionHint'}}"><a class=""><i class="darkred fas fa-shield-exclamation"></i></a></div>   
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          {{#if system.create.random}}
            <div class="stat-name centre bold">{{localize 'PEN.random'}}</div>                
          {{else}}
            <div class="stat-name centre bold">{{localize 'PEN.constructed'}}</div>
          {{/if}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.constructionHint'}}"><a class=""><i class="darkred fas fa-shield-exclamation"></i></a></div>             
        {{/if}}    
    </li>  

    {{! - Culture}}
    <li class="charcreate" data-step="3">
        <div class="stat-name">{{localize 'PEN.step.3'}}</div>
        {{#if hasCulture}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.cultureName}}</div>                
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>  
        {{/if}}    
    </li>  

    {{! - Homeland}}
    <li class="charcreate" data-step="8">
        <div class="stat-name">{{localize 'PEN.step.8'}}</div>
        {{#if hasHomeland}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.homelandName}}</div>                
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>  
        {{/if}}    
    </li>          

    {{! - Character Name}}
    <li class="charcreate" data-step="addName">
        <div class="stat-name">{{localize 'PEN.step.addName'}}</div>
        {{#if hasName}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{actor.name}}</div>   
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{/if}}    
    </li>   

    {{! - Character Gender}}
    <li class="charcreate" data-step="addGender">
        <div class="stat-name">{{localize 'PEN.step.addGender'}}</div>
        {{#if (eq system.gender "")}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.gender}}</div>   
        {{/if}}    
    </li>          

    {{! - Religion}}
    <li class="charcreate" data-step="5">
        <div class="stat-name">{{localize 'PEN.step.5'}}</div>
        {{#if hasReligion}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.religionName}}</div>                
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>  
        {{/if}}    
    </li>  

    {{! - Liege Lord}}
    <li class="charcreate" data-step="addLord">
        <div class="stat-name">{{localize 'PEN.step.addLord'}}</div>
        {{#if (eq system.lord "")}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.lord}}</div>   
        {{/if}}    
    </li> 

    {{! - Residence}}
    <li class="charcreate" data-step="addHome">
        <div class="stat-name">{{localize 'PEN.step.addHome'}}</div>
        {{#if (eq system.home "")}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.home}}</div>   
        {{/if}}    
    </li>     

    {{! - Chartacteristics}}
    <li class="charcreate" data-step="4">
        <div class="stat-name">{{localize 'PEN.step.4'}}</div>
        {{#if system.create.charSet}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold"></div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{/if}}    
    </li>   

    {{! - Traits}}
    <li class="charcreate" data-step="6">
        <div class="stat-name">{{localize 'PEN.step.6'}}</div>
        {{#if hasTraits}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold"></div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{/if}}    
    </li> 

    {{! - Passions}}
    <li class="charcreate" data-step="7">
        <div class="stat-name">{{localize 'PEN.step.7'}}</div>
        {{#if hasClass}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.className}}</div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre">{{localize 'PEN.inclClass'}}</div>   
        {{/if}}    
        <div class="stat-name centre" data-tooltip="{{localize 'PEN.passionHint'}}"><a class=""><i class="darkred fas fa-shield-exclamation"></i></a></div>                 
    </li> 

    {{! - Parent Passion}}
    <li class="charcreate" data-step="9">
        <div class="stat-name">{{localize 'PEN.step.9'}}</div>
        {{#if hasParentPassion}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold"></div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre">{{localize 'PEN.optional'}}</div>   
        {{/if}}    
    </li> 

    {{! - Family Characteristic}}
    <li class="charcreate" data-step="11">
        <div class="stat-name">{{localize 'PEN.step.11'}}</div>
        {{#if hasFamily}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.family}}</div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{/if}}    
    </li> 

    {{! - Skill Points}}
    <li class="charcreate" data-step="12">
        <div class="stat-name">{{localize 'PEN.step.12'}}</div>
        {{#if hasPSP}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold"></div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{/if}}    
    </li> 

    {{! - Training & Practice}}
    <li class="charcreate" data-step="13">
        <div class="stat-name">{{localize 'PEN.step.13'}}</div>
          {{#if system.create.train}}
            <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
            <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
            <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
            <div class="stat-name centre bold"></div>           
          {{else}}
            <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
            <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
            <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
            <div class="stat-name centre">{{localize 'PEN.optional'}}</div>   
          {{/if}}
    </li>

    {{! - Knighted}}
    <li class="charcreate" data-step="15">
        <div class="stat-name">{{localize 'PEN.step.15'}}</div>
          {{#if knightly}}
            {{#if system.create.knighted}}
              <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
              <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
              <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
              <div class="stat-name centre bold"></div>           
            {{else}}
              <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
              <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
              <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
              <div class="stat-name centre">{{localize 'PEN.optional'}}</div>   
            {{/if}}
          {{else}}
            <div class="stat-name centre bold"></div>      
            <div class="stat-name centre bold"></div>
            <div class="stat-name centre bold"></div>
            <div class="stat-name centre bold" data-tooltip="{{localize 'PEN.knightedUnqualHint'}}">{{localize 'PEN.knightedUnqual'}}</div>
          {{/if}}  
    </li>    

    {{! - Knightly Class}}
    <li class="charcreate" data-step="addClass">
        <div class="stat-name">{{localize 'PEN.step.addClass'}}</div>
        {{#if hasKnightClass}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold">{{system.className}}</div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre">{{localize 'PEN.optional'}}</div>   
        {{/if}}    
        <div class="stat-name centre" data-tooltip="{{localize 'PEN.classHint'}}"><a class=""><i class="darkred fas fa-shield-exclamation"></i></a></div>         
    </li> 

    {{! - Parents}}
    <li class="charcreate" data-step="2">
        <div class="stat-name">{{localize 'PEN.step.2'}}</div>
        {{#if system.create.parents}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold"></div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{/if}}    
    </li>     

    {{! - Heir}}
    <li class="charcreate" data-step="addHeir">
        <div class="stat-name">{{localize 'PEN.step.addHeir'}}</div>
        {{#if system.create.heirStat}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold"></div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre"></div>   
        {{/if}}    
    </li> 

    {{! - Starting Equipment}}
    <li class="charcreate" data-step="addEquip">
        <div class="stat-name">{{localize 'PEN.startingEquip'}}</div>
        {{#if hasClass}}
          {{#if hasEquip}}
            <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
            <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
            <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
            <div class="stat-name centre bold"></div>           
          {{else}}
            <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
            <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
            <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
            <div class="stat-name centre"></div>   
          {{/if}}    
        {{else}}
          <div class="stat-name centre bold"></div>      
          <div class="stat-name centre bold"></div>
          <div class="stat-name centre bold"></div>
          <div class="stat-name centre bold" data-tooltip="{{localize 'PEN.knightedUnqualHint'}}">{{localize 'PEN.noClass'}}</div>
        {{/if}}  
    </li> 

    {{! - Luck Benefit}}
    <li class="charcreate" data-step="14">
        <div class="stat-name">{{localize 'PEN.step.14'}}</div>
        {{#if hasLuck}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.completed'}}"><a class=""><i class="result-success fas fa-shield-check"></i></a></div>    
          <div class="stat-name centre"><a class="fade"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre" data-action="charDelete" data-tooltip="{{localize 'PEN.resetHint'}}"><a><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre bold"></div>           
        {{else}}
          <div class="stat-name centre" data-tooltip="{{localize 'PEN.incomplete'}}"><a class=""><i class="darkred fas fa-shield-xmark"></i></a></div>    
          <div class="stat-name centre" data-action="charCreate"><a class="darkred"><i class="fas fa-circle-exclamation"></i></a></div>
          <div class="stat-name centre"><a class="fade"><i class="fas fa-broom"></i></a></div>        
          <div class="stat-name centre">{{localize 'PEN.optional'}}</div>   
        {{/if}}    
    </li> 

  </ol>
  <br>
