<section class='character tab gear {{tab.cssClass}}' data-group='primary' data-tab='gear'>
  <div class="armour-grid">
    <div class="stat-name grid-item bold centre" data-tooltip="{{localize 'PEN.equipped'}}">{{localize 'PEN.eqpd'}}</div>
    <div class="stat-name grid-item bold">{{localize 'PEN.armour'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.ap'}}</div>
    <div class="stat-name grid-item bold centre"data-tooltip="{{localize 'PEN.missPenal'}}">{{localize 'PEN.pen'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.disadvantage'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.notes'}}</div>
    <div class="stat-name bold grid-item centre" data-action="createDoc" data-document-class='Item' data-type="armour">  
      <a class="large-icon" data-tooltip="{{localize 'PEN.addArmour'}}"><i class="item-control fas fa-plus"></i></a>
    </div> 
  </div>  

  {{#each armours as |armour key|}}
    <li class="item armour-grid" data-drag='true' data-document-class='Item' data-item-id="{{armour._id}}">
      <div class="grid-item centre middle"><a class="item-control item-toggle large-icon" data-itemid ="{{armour._id}}" data-property="equipped" data-tooltip="{{localize 'PEN.dblClickToggle'}}"><i class="{{#if armour.system.equipped}}fa-regular fa-square-check{{else}}fa-regular fa-square{{/if}}"></i></a></div>
      <div class="stat-name grid-item">{{armour.name}}</div>
      {{#if armour.system.type}}
        <div class="stat-name centre grid-item">{{armour.system.ap}}</div>
      {{else}}
      <div class="stat-name-input grid-item centre middle item" data-field="armour" data-itemid ="{{armour._id}}"><input class="inline-edit" name="item.system.armour.{{key}}.ap" type="text" value="{{armour.system.ap}}" data-dtype="Number"/></div>
      {{/if}}
      <div class="stat-name centre grid-item">{{armour.system.missPenalty}}</div>
      {{#if (eq armour.system.disadvantage '')}}
        <div class="grid-item"></div>
      {{else}}
        <div class="stat-name centre grid-item">{{localize 'PEN.view'}}</div>
      {{/if}}
      
      {{#if (eq armour.system.notes '')}}
        <div class="grid-item"></div>
      {{else}}
        <div class="stat-name centre grid-item">{{localize 'PEN.view'}}</div>
      {{/if}}
      <div class="centre item grid-item" data-itemid ="{{armour._id}}">
        <a class="item-control large-icon fade" data-action="viewDoc"><i data-tooltip="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
        {{#unless ../system.lock}}
          <a class="item-control  large-icon fade" data-action="deleteDoc"><i data-tooltip="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
        {{/unless}}
      </div>  
    </li>  
  {{/each}}
  <div class="armour-grid"></div>

  <br>

  <div class="gear-grid">
    <div class="stat-name grid-item bold">{{localize 'PEN.name'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.quantityShort'}}</div>
    <div class="stat-name grid-item bold centre">{{localize 'PEN.description'}}</div>
    <div class="stat-name bold grid-item centre" data-document-class='Item' data-action="createDoc" data-type="gear">  
      <a class="large-icon" data-tooltip="{{localize 'PEN.addEquip'}}"><i class="item-control fas fa-plus"></i></a>
    </div> 
  </div>  

  {{#each gears as |gear key|}}
    <li class="item gear-grid" data-drag='true' data-document-class='Item' data-item-id="{{gear._id}}">
      <div class="stat-name grid-item truncate" data-tooltip="{{gear.name}}">{{gear.name}}</div>
      <div class="stat-name centre grid-item">{{gear.system.quantity}}</div>
      <div class="stat-name centre grid-item curtail2" data-tooltip="{{gear.system.cleanDesc}}">{{{gear.system.cleanDesc}}}</div>
      <div class="centre item grid-item" data-itemid ="{{gear._id}}">
        <a class="item-control large-icon fade" data-action="viewDoc"><i data-tooltip="{{localize 'PEN.view'}}" class="fa-solid fa-eye"></i></a>
        {{#unless ../system.lock}}
          <a class="item-control large-icon fade" data-action="deleteDoc"><i data-tooltip="{{localize 'PEN.delete'}}" class="fa-solid fa-broom-wide"></i></a>
        {{/unless}}
      </div>  
    </li>  
  {{/each}}
  <div class="gear-grid"></div>
  <br>
</section>  