<div class="tab description {{tab.cssClass}}" data-group="primary" data-tab="gmTab">
  <div class="stat-name bold">{{localize 'PEN.gmNotes'}}:</div>
  <div class="background-doc">
  {{#if editable}} 
    <prose-mirror name="system.GMdescription" value="{{system.GMdescription}}" editable="{{editable}}" toggled="false">
      {{{enrichedGMDescriptionValue}}}
    </prose-mirror>
  {{else}} {{{enrichedGMDescriptionValue}}}
  {{/if}}
  </div>
</div>